@charset "UTF-8";
/*
&display=swap
&subset=cyrillic-ext
*/
/* -------------------- ШРИФТЫ ----------------------- */
/* -------------------- ОБНУЛЕНИЕ СТИЛЕЙ ----------------------- */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
}

/* -------------------- СТИЛИ ----------------------- */
.wrapper {
  overflow: hidden;
  background: #f5f5f5;
  padding: 100px 200px;
}

[class*=__container] {
  max-width: 1020px;
  margin: 0 auto;
}

.titles-block:not(:last-child) {
  margin: 0px 0px 33px 0px;
}
.titles-block__title {
  background: url("../../img/doggie/icon.svg") 0 -2px no-repeat;
  padding: 0px 0px 0px 33px;
  font-weight: 700;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #5D62B5;
}
.titles-block__subtitle {
  font-weight: 900;
  font-size: 36px;
  line-height: 1.17;
  color: #000000;
}

/* promise */
.promise__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -12px;
  row-gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.promise__item {
  padding: 0px 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

.item-promise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.item-promise__icon {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.item-promise__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 0px 0px 23px;
}
.item-promise__title {
  font-weight: 900;
  font-size: 19px;
  line-height: 1.37;
  color: #F2726F;
}
.item-promise__title:not(:last-child) {
  margin: 0px 0px 20px 0px;
}
.item-promise__text {
  letter-spacing: 0.15px;
  line-height: 1.5;
  color: #4B4B4B;
}